.DS_Store
.project
.jsdtscope
org.eclipse.*
.buildpath
.settings
.idea
config.php
/backup
/sites/default/files/css
/sites/default/files/js
/sites/default/files/xmlsitemap
/nbproject/private/
nbproject
nbproject/project.xml
nbproject/project.properties
