@font-face {
	font-family: 'flowMain';
	src: url('flowRegular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'flowMain';
	src: url('flowRegularItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'flowMain';
	src: url('flowBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'flowMain';
	src: url('flowBoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}
